* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Poppins", sans-serif;
  --color-primary: #fefefe;
  --color-secondary: #00fd56;
  --color-terciary: #3734c6;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header-m: clamp(4rem, 1rem + 5vw, 8rem);
  --fs-header: clamp(2rem, 1rem + 5vw, 4rem);
  --fs-header-sm: clamp(1rem, 0.5rem + 3vw, 2rem);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fefefe;
}

::-webkit-scrollbar-thumb {
  background: #6563bd;
  border-radius: 10px;
}

body {
  background-color: #fefefe;
  font-family: var(--ff-all);
}

#waves-img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

#logo {
  height: 5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;

  padding: 1rem 10% 1rem 10%;

  position: fixed;

  z-index: 1000;

  font-weight: 700;

  background: linear-gradient(to right, transparent, transparent);
  transition: background-color 0.3s;
}

header.scrolled {
  background-color: rgba(55, 52, 198, 0.9);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);
}

.nav-list {
  display: flex;
  gap: 5rem;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--fs-body);
}

i {
  color: var(--color-secondary);
}

span {
  color: var(--color-secondary);
}

.mobile-menu {
  display: none;
}

.btn {
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  background-color: var(--color-secondary);
  box-shadow: 0 0.5rem 1.125rem -0.7rem var(--color-secondary);
}

.btn:hover {
  background-color: #07b340;
  cursor: pointer;
}

.div-main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 97%;

  background-image: url(./imgs/base-back.png);
  border-radius: 0 20rem 20rem 0;
}

.div-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: var(--color-primary);

  width: 50%;
}

.div-main-content h1 {
  font-weight: 500;
  font-size: var(--fs-header-m);
}

.div-main-content p {
  font-weight: 500;
  font-size: var(--fs-header-sm);
}

.btn-action {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  box-shadow: 0 0.5rem 1.125rem -0.7rem var(--color-secondary);

  padding: 1.5rem;
  width: 30rem;
  margin-top: 7rem;

  border-radius: 1rem;

  text-decoration: none;
  color: var(--color-primary);

  font-size: 2.4rem;
  font-weight: 800;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.btn-action:hover {
  background-color: #07b340;
  transform: translateY(-7px);
  cursor: pointer;
}

#btn-action-two {
  margin-left: 5%;
}

.div-img-main {
  width: 30%;
}

.div-img-main img {
  width: 100%;
}

.div-second {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120vh;
  width: 100%;
}

.div-second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: var(--color-primary);

  width: 50%;
}

#waves-img-bg {
  background-image: url(./imgs/waves-img-2.png);
  object-fit: cover;
  background-repeat: no-repeat;
}

.div-second-content h1 {
  font-weight: 700;
  font-size: var(--fs-header);
}

.div-second-content p {
  font-size: 2rem;
}

.div-img-second {
  width: 30%;
}

.div-img-second img {
  width: 100%;
}

.section-serv-card-container h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  font-size: var(--fs-header);
  color: var(--color-terciary);
  padding: 5rem 0;
}

.section-serv-card-container i {
  padding-right: 0.5rem;
}

.serv-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;

  padding: 8rem 5rem;
}

.serv-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 5rem;
}

.serv-cards img {
  height: 8rem;
  padding-bottom: 1rem;
}

.serv-cards h3 {
  font-size: 1.8rem;

  color: var(--color-terciary);
}

.serv-cards p {
  font-size: 1.4rem;
  font-weight: 500;

  color: var(--color-terciary);
}

.pl-grid-section {
  margin-bottom: 10rem;
  padding: 0 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pl-grid-section h1 {
  align-self: flex-start;
  margin: 5rem 0;

  font-size: var(--fs-header);
  color: var(--color-terciary);
}

.pl-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.pl-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
  background-color: var(--color-terciary);
  border-radius: 1rem;
  padding: 4rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);

  font-size: var(--fs-header-sm);
  text-decoration: none;
  color: var(--color-primary);

  transition: transform 0.3s ease-out;
  transform: translateX(0);
}

.pl-cards:hover {
  background-color: #2f2da7;
  transform: translateX(7px);
}

.pl-cards i {
  font-size: 200%;
}

.testimony-section {
  background-image: url(./imgs/base-back.png);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimony-section h1 {
  position: absolute;
  align-self: flex-start;
  padding: 8rem 0;
  left: 10%;

  font-size: var(--fs-header);
  color: var(--color-primary);
}

.testimony-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0 10%;
}

.testimony-card {
  flex: 0 0 calc(33.333% - 20px);
  margin-top: 9rem;
  padding: 4rem 5rem 2rem;

  background-color: var(--color-primary);
  color: var(--color-terciary);
  font-weight: 800;

  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  text-align: center;

  position: relative;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.testimony-card:hover {
  transform: translateY(-7px);
}

.testimony-card i {
  position: absolute;
  top: -7rem;
  left: 10%;

  font-size: 12rem;
}

.testimony-card p {
  font-size: var(--fs-body);
  margin-bottom: 2rem;
}

.testimony-card img {
  width: 50%;
  border-radius: 100%;
}

.testimony-card h3 {
  font-size: var(--fs-body);
}

.why-div-section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 5rem 10%;
}

.why-div-section h1 {
  align-self: flex-start;
  font-size: var(--fs-header);

  padding-bottom: 5rem;

  color: var(--color-terciary);
}

.why-div-container {
  display: flex;
  justify-content: center;

  margin-top: 13rem;
}

.why-div-content {
  display: flex;
  flex-direction: column;

  width: 40%;
  position: relative;
}

.why-div-content h1 {
  font-size: 2.4rem;
}

.why-div-content p {
  font-size: var(--fs-body);
  color: var(--color-terciary);
}

.why-div-img {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.why-div-img img {
  width: 80%;
}

#padlock {
  width: 40%;
  align-self: center;
}

#target {
  width: 40%;
  align-self: center;
}

#suport {
  width: 40%;
  align-self: center;
}

#trapeze {
  position: absolute;
  left: -50%;

  width: 150%;

  top: 0;
  z-index: -1;
}

.section-colapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10rem 10%;
}

.section-colapse h1 {
  align-self: flex-start;
  margin-left: 10%;
  margin-bottom: 5rem;

  font-size: var(--fs-header);
  color: var(--color-terciary);
}

.colapse {
  width: 45%;
  background: var(--color-primary);
  color: var(--color-terciary);

  border-radius: 1rem;

  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);

  margin: 1.5rem auto;
  font-size: var(--fs-body);
  font-weight: 800;
}

.card-header {
  background: var(--color-terciary);
  color: var(--color-primary);

  padding: 2rem;

  text-align: center;
  font-size: var(--fs-header-sm);
  cursor: pointer;

  border-radius: 1rem;

  position: relative;
}

.card-body {
  display: none;
  padding: 1rem;

  text-align: center;
}

.colapse.open .card-header {
  border-radius: 1rem 1rem 0 0;
}

.colapse.open .card-body {
  display: block;
  border-left: #3734c6 1px solid;
  border-right: #3734c6 1px solid;
  border-bottom: #3734c6 1px solid;
  border-radius: 0 0 1rem 1rem;
}

.arrow {
  transition: transform 0.4s;
}

.colapse.open .arrow {
  transform: rotate(-180deg);
}

@media (max-width: 1350px) {
  .why-div-img {
    width: 50%;
  }

  .why-div-img img {
    width: 100%;
  }
}

@media (max-width: 1010px) {
  .serv-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .div-second-content p {
    font-size: var(--fs-body);
  }

  .testimony-section {
    background: var(--color-terciary);
    height: 210vh;
  }

  .testimony-container {
    flex-direction: column;
  }

  .testimony-card {
    width: 70%;
  }

  .why-div-container {
    flex-direction: column;
  }

  .why-div-content {
    width: 100%;
  }

  .why-div-img {
    margin: auto;
    width: 70%;
    margin-top: 5rem;
  }

  .why-div-img img {
    width: 100%;
    margin: auto;
  }

  .colapse {
    width: 100%;
  }
}

@media (max-width: 912px) and (min-width: 900px) {
  .div-main {
    height: 70vh;
  }

  .div-second {
    height: 90vh;
  }

  .testimony-section {
    height: 140vh;
  }
}

@media (max-width: 830px) {
  #icon {
    display: block;

    font-size: 2rem;

    color: var(--color-secondary);

    z-index: 99;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;

    padding: 10rem 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-color: var(--color-terciary);
    border-bottom: 0.7rem solid var(--color-secondary);

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    list-style: none;

    margin-left: 0;

    opacity: 0;

    color: var(--color-primary);
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .div-main {
    flex-direction: column-reverse;
    gap: 10%;

    background: var(--color-terciary);
    border-radius: 0;
    width: 100%;

    z-index: -1;
  }

  .div-main-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  .div-main-content p {
    font-size: var(--fs-body);
  }

  .btn-action {
    width: 50%;

    font-size: 2rem;
  }

  #btn-action-two {
    width: 100%;

    font-size: 2rem;

    margin-left: 0;
  }

  .div-img-main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .div-img-main img {
    width: 50%;
  }

  .div-second {
    flex-direction: column;
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112vh;
    width: 100%;
  }

  .div-second-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
  }

  .div-second-content p {
    font-size: var(--fs-body);
  }

  .div-img-second {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .div-img-second img {
    width: 50%;
  }

  .pl-grid-container {
    grid-template-columns: 1fr;
  }

  .pl-cards {
    font-size: var(--fs-body);
  }

  .testimony-section {
    height: 225vh;
  }

  .testimony-container {
    flex-direction: column;
  }

  .testimony-card {
    width: 70%;
  }

  .testimony-card img {
    width: 70%;
  }

  .testimony-card i {
    top: -4rem;

    font-size: 7rem;
  }
}

@media (max-width: 750px) {
  .serv-card-container {
    grid-template-columns: 1fr;
  }

  .div-second {
    height: 150vh;
  }

  .div-second h1 {
    align-self: flex-start;
  }

  .div-img-second img {
    width: 80%;
  }

  .pl-cards i {
    padding-left: 0;
  }

  .testimony-section {
    height: 300vh;
  }

  .testimony-section h1 {
    padding: 8rem 0 20rem 0;
  }
}

@media (max-width: 720px) {
  .div-main {
    height: 150vh;
  }

  .div-second {
    height: 250vh;
  }

  .div-second img {
    width: 50%;
  }

  .testimony-section {
    height: 380vh;
  }
}

@media (max-width: 550px) {
  .div-second {
    height: 170vh;
  }

  .testimony-card {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .div-second {
    height: 150vh;
  }

  .testimony-section {
    height: 250vh;
  }
}

@media (max-width: 415px) {
  .div-second {
    height: 137vh;
  }

  .testimony-section {
    height: 220vh;
  }
}

@media (max-width: 395px) {
  .div-second {
    height: 155vh;
  }

  .testimony-section {
    height: 270vh;
  }
}

@media (max-width: 385px) {
  .div-second {
    height: 165vh;
  }

  .testimony-section {
    height: 295vh;
  }
}

@media (max-width: 340px) {
  .div-main {
    height: 150vh;
  }

  .div-second-content {
    padding: 0;
  }

  .div-second {
    height: 220vh;
  }

  .testimony-section {
    height: 420vh;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
